body,
html {
    height: 100%;
    /* width: 100vw; */
    margin: 0;
}

#banner {
    text-align: center;
    height: 90%;
    background-attachment: fixed;
    background-image: url('./WaterFallMain.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: black;
}

#welcome {
    color: white;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: 90%;
    width: 100%;

}
#welcome h1{
    margin-top: 20%;
    font-size: 50px;
    
}

