body {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    text-align: center;

}

#title-img {
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    border-radius: 10px;
    border: 2px solid white;
}

#title-img h1 {
    /* color: brown; */
    mix-blend-mode: overlay;
    font-size: 10rem;
    font-family: Verdana, sans-serif;
    text-shadow: -3px 0 rgb(255, 255, 255), 0 3px rgb(255, 255, 255), 3px 0 rgb(255, 255, 255), 0 -3px rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgb(255, 255, 255);
    /* background: black; */
    border-radius: 20px;
}

#blog-body {
    margin: 5%;
    margin-top: 0;

}

.img-box {
    line-height: 0;
    -webkit-column-count: 4;
    /* split it into 5 columns */
    -webkit-column-gap: 5px;
    /* give it a 5px gap between columns */
    -moz-column-count: 4;
    -moz-column-gap: 5px;
    column-count: 4;
    column-gap: 5px;

}

.img-box img {

    width: 100%;
    height: auto;
    margin-bottom: 5px;
    /* to match column gap */
}

.blogText {
    color: white;
    font-size: 2rem;
    margin-bottom: 5%;
    text-align: left;
    
    word-wrap: break-word;
}

.blogCaption {
    color: brown;
}

#na1 a{
    background-color: red;
    font-size: 2rem;
}
#tools{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 10%;
}
.toolBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 5rem;
    color: white;
    background-color: rgb(177, 13, 13);
    border-radius: 5px;
    border: 2px solid white;
}

.class{
    color: white;
}