<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wandering-Sarrthi</title>

    <link rel="stylesheet" href="/index.css">


</head>

<body>
    <div class="wrapper">

        <header>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About</a></li>
              </ul>

            <img src="/WaterFallWater.png" class="background">
            <img src="/WaterFallMainRock.png" class="foreground">
            <h1 class="title">Welcome</h1>
            <!-- <h3 class="caption">Just trying to complete my bucketList</h3> -->

        </header></div>


        <!-- <section> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus consequatur deserunt, sequi tenetur totam vitae ea, porro, iste minima deleniti nemo consectetur recusandae officia! Cumque, et? Sit in adipisci ex.
    
</section> -->

        <div class="box" id="box1">
            Personal Introduction goes here
        </div>


        <div class="box" id="box2">
            <div>
                <div class="testDiv">PLACEHOLDER FOR AUTOMATIC BLOGS SLIDER/CAROUSEL</div>

            </div>
            <a href="/posts/new">CREATE A NEW BLOG POST</a>
        </div>



        <div>
            <% postsIndex.forEach(postsI=> { %>
                <div id="blogList"><a href="/posts/<%=postsI._id%>">
                        <%=postsI.title%>
                    </a> </div>


                <% }) %>

        </div>



    







</body>
<footer></footer>

</html>