<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wandering-Sarrthi</title>
</head>
<body>
<h1>WELCOME PAGE</h1>

<!-- Create a new Blog button -->

<% posts.forEach(posts => { %>
<p><%= posts.title %> hi</p> 
<% }) %>

</body>
</html>