<h1>Login</h1>

<form action="/login" method="POST">
   
    Email: <input type="text" name="username" id="" required>
    Passwrod: <input type="text" name="password" id="" required>
    <input type="submit" name="" value="Login">
</form>
<a href="/register">Register</a>