<h1>Login</h1>

<form action="/register" method="'POST">
    Name: <input type="text" name="name" id="" required>
    Email: <input type="text" name="user" id="" required>
    Passwrod: <input type="text" name="password" id="" required>
    <input type="submit" name="" value="Login">
</form>
<a href="/register">Register</a>