<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wandering-Sarrthi</title>

    <link rel="stylesheet" href="/index.css">


</head>

<body>
    <div class="wrapper">

        <header>


            <img src="/images/WaterFallWater.png" class="background">
            <img src="/images/WaterFallMainRock.png" class="foreground">
            <div class="title">
                <h1 id="try1">Welcome</h1>
                <ul class="nav1">
                    <li><a href="#toBlogs">BLOGS</a></li>
                </ul>
            </div>

            <!-- <h3 class="caption">Just trying to complete my bucketList</h3> -->
            <a href="/login" id="login">Login</a>
        </header>

        <!-- <section> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus consequatur deserunt, sequi tenetur totam vitae ea, porro, iste minima deleniti nemo consectetur recusandae officia! Cumque, et? Sit in adipisci ex.
    
</section> -->
        <div id="coverPaper">
            <div class="paper">
                <div class="paper-content">
                    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam rem ut quaerat a explicabo
                        commodi
                        inventore. Officiis hic sed accusantium ipsa aperiam molestias placeat? Possimus beatae maiores
                        saepe perspiciatis ullam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, facere
                        voluptatum. Earum culpa ut neque distinctio optio porro tempore excepturi, accusamus explicabo
                        reiciendis quibusdam dolorum, eos a praesentium debitis in?Lorem ipsum dolor sit amet
                        consectetur
                        adipisicing elit. Voluptatem repellat neque doloribus aut nulla minus totam officiis voluptas.
                        Beatae ea praesentium enim excepturi dolorem ipsa incidunt reprehenderit at? Illum, ut.
                    </h1>
                </div>
            </div>
        </div>

        <div id="activity">

            <h1>Favourite Recent Activities</h1>

            <div id="act1" class="act">
                <div id="img"></div>
                <div id="caption">
                    <h3>Snowboarding in Colorado</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia aliquam soluta sunt reiciendis
                        nulla
                        repellat tempora autem ex ad sapiente deserunt commodi repudiandae ut totam dolore accusamus
                        quae,
                        debitis modi.lorem
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laudantium, asperiores similique
                        possimus
                        quas, quae vitae minima odio repellat provident, ut cupiditate voluptas laborum error
                        perspiciatis
                        ex.
                        Modi, maxime assumenda!
                    </p>
                </div>


            </div>
            <div id="act2" class="act">
               
                <div id="caption">
                    <h3>Ziplining through mountains in Colorado</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia aliquam soluta sunt reiciendis
                        nulla
                        repellat tempora autem ex ad sapiente deserunt commodi repudiandae ut totam dolore accusamus
                        quae,
                        debitis modi.lorem
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laudantium, asperiores similique
                        possimus
                        quas, quae vitae minima odio repellat provident, ut cupiditate voluptas laborum error
                        perspiciatis ex.
                        Modi, maxime assumenda!
                    </p>
                </div>

 <div id="img"></div>

            </div>
            <div id="act1" class="act">
                <div id="img"></div>
                <div id="caption">
                    <h3>Sky Diving </h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia aliquam soluta sunt reiciendis
                        nulla
                        repellat tempora autem ex ad sapiente deserunt commodi repudiandae ut totam dolore accusamus
                        quae,
                        debitis modi.lorem
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laudantium, asperiores similique
                        possimus
                        quas, quae vitae minima odio repellat provident, ut cupiditate voluptas laborum error
                        perspiciatis
                        ex.
                        Modi, maxime assumenda!
                    </p>
                </div>


            </div>



        </div>
        <div>PLACEHOLDER FOR AUTOMATIC BLOGS SLIDER/CAROUSEL</div>
        
        <div id="toBlogs">Travel Blogs</div>




        <div id="blogContainer">
            <% postsIndex.forEach(postsI=> { %>
                <div id="blogList" style="background-image:url(<%=postsI.title_img%>) ;">
                    <a href="/<%=postsI._id%>">
                        <div id="listScreen">

                            <%=postsI.title%>
                        </div>
                    </a>

                </div>


                <% }) %>

        </div>
<a href="/new" id="create">CREATE A NEW BLOG POST</a>
    </div>










</body>
<footer></footer>

</html>