<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wandering-Sarrthi</title>

    <link rel="stylesheet" href="/index.css">


</head>

<body>
    <div class="wrapper">

        <header>


            <img src="/images/WaterFallWater.png" class="background">
            <img src="/images/WaterFallMainRock.png" class="foreground">
            <div class="title">
                <h1 id="try1">Welcome</h1>
                <ul class="nav1">
                    <li><a href="#toBlogs">BLOGS</a></li>
                </ul>
            </div>

            <!-- <h3 class="caption">Just trying to complete my bucketList</h3> -->

        </header>

        <!-- <section> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus consequatur deserunt, sequi tenetur totam vitae ea, porro, iste minima deleniti nemo consectetur recusandae officia! Cumque, et? Sit in adipisci ex.
    
</section> -->
        <div id="coverPaper">
            <div class="paper">
                <div class="paper-content">
                    <h1>Hi, my name is Sarrthi<br>
                        I am a 19 year old who likes to travel. I am also a programmer and am making this website as a
                        project to test and develop my skills. I chose to make a travel blog website because its something that lines up with my personal interests such as traveling and photography/videography, meaning I can actually use it in my daily life.
                        Here I will be bloging my trips, hikes and other activities from my bucketList such as Snowboarding, Skydiving, CliffJumping etc. I will be uploading all my past and future trips on here, just so if I ever want to look back 
                        at them, I can just visit the site instead of having to scroll through folders and galleries on my phone/pc.
                        
                    </h1>
                </div>
            </div>
        </div>

        <div id="activity">

            <h1>Favourite Recent Activities</h1>

            <div id="act1" class="act">
                <div id="img"></div>
                <div id="caption">
                    <h3>Snowboarding in Colorado</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia aliquam soluta sunt reiciendis
                        nulla
                        repellat tempora autem ex ad sapiente deserunt commodi repudiandae ut totam dolore accusamus
                        quae,
                        debitis modi.lorem
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laudantium, asperiores similique
                        possimus
                        quas, quae vitae minima odio repellat provident, ut cupiditate voluptas laborum error
                        perspiciatis
                        ex.
                        Modi, maxime assumenda!
                    </p>
                </div>


            </div>
            <div id="act2" class="act">

                <div id="caption">
                    <h3>Ziplining through mountains in Colorado</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia aliquam soluta sunt reiciendis
                        nulla
                        repellat tempora autem ex ad sapiente deserunt commodi repudiandae ut totam dolore accusamus
                        quae,
                        debitis modi.lorem
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laudantium, asperiores similique
                        possimus
                        quas, quae vitae minima odio repellat provident, ut cupiditate voluptas laborum error
                        perspiciatis ex.
                        Modi, maxime assumenda!
                    </p>
                </div>

                <div id="img"></div>

            </div>

            <div id="act1" class="act">
                <div id="img"></div>
                <div id="caption">
                    <h3>Sky Diving </h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia aliquam soluta sunt reiciendis
                        nulla
                        repellat tempora autem ex ad sapiente deserunt commodi repudiandae ut totam dolore accusamus
                        quae,
                        debitis modi.lorem
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laudantium, asperiores similique
                        possimus
                        quas, quae vitae minima odio repellat provident, ut cupiditate voluptas laborum error
                        perspiciatis
                        ex.
                        Modi, maxime assumenda!
                    </p>
                </div>


            </div>



        </div>

        <div id="toBlogs">Travel Blogs:<a href="/new" class="toolBtn">CREATE A NEW BLOG POST</a></div>




        <div id="blogContainer">
            <% postsIndex.forEach(postsI=> { %>
                <div id="blogList" style="background-image:url(<%=postsI.title_img%>) ;">
                    <a href="/<%=postsI._id%>">
                        <div id="listScreen">

                            <%=postsI.title%>
                        </div>
                    </a>

                </div>


                <% }) %>

        </div>
        

    </div>









</body>
<footer></footer>

</html>