<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new.css">
    <title>Document</title>
</head>

<body>

    <div id="input">
        <form action="/" method="POST">

            <div class="wrapper">

                <!-- nav bar -->
                <nav id="nav1">
                    <a href="/">Home</a>

                    <a href="">Gallery</a>
                </nav>
                <h1>Post a new Blog</h1>
                <!-- Header -->
                <div id="title-img">


                    <input type="text" name="title"  required placeholder="Title" /><br />

                    <input type="text" name="title_img" placeholder="Title Img" required>
                </div>
                <!-- Blog Body -->

                <div id="blog-body">
                    <h1 class="blogCaption"> 
                        Date-traveled: <input type="text" name="date" id="">
                    </h1>

                    <div class="blogText">

                        <h1> <input type="text" name="Paragraph1_title" placeholder="Paragraph-1 Title:" required></h1>
                        <h1><input type="text" name="Paragraph1" placeholder="Paragraph 1:" required></h1>
                    </div>
                    <div class="blogText">
                        <h1> <input type="text" name="Paragraph2_title" placeholder="Paragraph-2 Title: "></h1>
                        <input type="text" name="Paragraph2" placeholder=" Paragraph 2:">
                    </div>
                    <div class="blogText">
                        <h1><input type="text" name="Paragraph3_title" placeholder="Paragraph-3 Title: "></h1>
                        <input type="text" name="Paragraph3" placeholder="Paragraph 3:">
                   

                <div class="img-box">

                    <input type="text" name="galleryImg1"  placeholder="Image 1" >
                    <input type="text" name="galleryImg2"  placeholder="Image 2">
                    <input type="text" name="galleryImg3"  placeholder="Image 3" >
                    <input type="text" name="galleryImg4"  placeholder="Image 4" >
                    <input type="text" name="galleryImg5"  placeholder="Image 5" >
                    <input type="text" name="galleryImg6"  placeholder="Image 6">
                    <input type="text" name="galleryImg7"  placeholder="Image 7" >
                    <input type="text" name="galleryImg8"  placeholder="Image 8" >
                    <input type="text" name="galleryImg9"  placeholder="Image 9" >
                    <input type="text" name="galleryImg10"  placeholder="Image 10" >
                </div>

                <input id="submit" type="submit" name="" value="Post Blog">
            </div>




        </form>



    </div>

</body>

</html>