<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wandering-Sarrthi</title>

    <link rel="stylesheet" href="/show.css">


</head>

<body>


    <div class="wrapper">
        <nav id="nav1">
            <a href="/">Home</a>
            
            <a href="">Gallery</a>
        </nav>
        <div id="test1" style="background-image:url(<%=postsShow.title_img%>) ;"> </div>
    </div>
<form action="/<%=postsShow._id%>?_method=DELETE" method="POST"><input type="submit" value="DELETE"></form>

<a href="/<%=postsShow._id%>/edit">EDIT</a>





</body>
<footer></footer>

</html>